# Random stuff
/Rapport/
modules_jean_zay.txt
sujet_de_these.txt

# Data
/MS/data/MS_collection.tsv

# Trie
/Trie/*

/Kilt/data/*
# Models

/Llama-3.2-3B-Instruct/
/fine-tuning/Llama-3.2-3B-Instruct-lora-finetuned/

#Curves
/Kilt/courbeKilt.csv
/MS/courbeMS.csv
/curves.py

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# UV
#   Similar to Pipfile.lock, it is generally recommended to include uv.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#uv.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#   https://pdm.fming.dev/latest/usage/project/#working-with-version-control
.pdm.toml
.pdm-python
.pdm-build/

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

.idea/

# Ruff stuff:
.ruff_cache/

# PyPI configuration file
.pypirc

# MS data files

/MS/data/full/corrected/MS_short_titres_vllm_corrected.tsv
/MS/data/full/corrected/MS_titres_vllm_corrected.tsv
/MS/data/full/MS_short_titres_vllm.tsv
/MS/data/full/MS_titres_vllm.tsv
/MS/eval/*/
/MS/splits/*/

# MS Stats files

/res/gen_titres/full/MS_short_titres_vllm_autres.tsv
/res/gen_titres/full/MS_short_titres_vllm_problem_gen.tsv
/res/gen_titres/full/MS_short_titres_vllm_problem_inst.tsv
/res/gen_titres/full/MS_short_titres_vllm_titres.tsv
/res/gen_titres/full/MS_titres_vllm_autres.tsv
/res/gen_titres/full/MS_titres_vllm_problem_gen.tsv
/res/gen_titres/full/MS_titres_vllm_problem_inst.tsv
/res/gen_titres/full/MS_titres_vllm_titres.tsv
/res/gen_titres/full/corrected/MS_short_titres_vllm_corrected_autres.tsv
/res/gen_titres/full/corrected/MS_short_titres_vllm_corrected_problem_gen.tsv
/res/gen_titres/full/corrected/MS_short_titres_vllm_corrected_problem_inst.tsv
/res/gen_titres/full/corrected/MS_short_titres_vllm_corrected_titres.tsv
/res/gen_titres/full/corrected/MS_titres_vllm_corrected_autres.tsv
/res/gen_titres/full/corrected/MS_titres_vllm_corrected_problem_gen.tsv
/res/gen_titres/full/corrected/MS_titres_vllm_corrected_problem_inst.tsv
/res/gen_titres/full/corrected/MS_titres_vllm_corrected_titres.tsv
/MS/verif_des_6k.py
/Llama-3.2-3B-Instruct-lora-finetuned_chat_10pct/config.json
/Llama-3.2-3B-Instruct-lora-finetuned_chat_10pct/generation_config.json
/Llama-3.2-3B-Instruct-lora-finetuned_chat_10pct/model.safetensors.index.json
/Llama-3.2-3B-Instruct-lora-finetuned_chat_10pct/model-00001-of-00003.safetensors
/Llama-3.2-3B-Instruct-lora-finetuned_chat_10pct/model-00002-of-00003.safetensors
/Llama-3.2-3B-Instruct-lora-finetuned_chat_10pct/model-00003-of-00003.safetensors
/Llama-3.2-3B-Instruct-lora-finetuned_chat_10pct/pytorch_model_finetuned.pth
/Llama-3.2-3B-Instruct-lora-finetuned_chat_10pct/special_tokens_map.json
/Llama-3.2-3B-Instruct-lora-finetuned_chat_10pct/tokenizer.json
/Llama-3.2-3B-Instruct-lora-finetuned_chat_10pct/tokenizer_config.json
/Llama-3.2-3B-Instruct-lora-finetuned_chat_10pct/training_args.bin
